/*
=================
Table of Contents
=================

1.  Custom Variables
2.  Global Styles
3.  Hamburger
4.  Typography
5.  CTA
6.  Color
7.  Forms
8.  Header
9.  Footer
10.  Index
11. Explore
12. Exhibition Spaces
13. Visit Us
14. Get Involved
15. Contact Us
16. @media

*/


/*
====================
1.  Custom Variables
====================
*/

:root {
  --black-100: #000;
  --white-100: #fff;
  --white-400: #f9f9f9;
  --yellow-100: #fefef5;
  --yellow-400: #fffdd8;
  --yellow-700: #d8d254;
  --purple-500: #804FBF;

  --linear-cta: linear-gradient(180deg, #D8D254 36.98%, #FFF 45.83%, #D8D254 65.10%);
  --linear-shade: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);

  --font-michroma: 'Michroma', sans-serif;
  --font-gruppo: 'Gruppo', sans-serif;
  --font-lucky: 'Luckiest Guy', cursive;
  --font-russo: 'Russo One', sans-serif;

  --weight-400: 400;

  --size-16: 1rem;
  --size-21: 1.3125rem;
  --size-27: 1.6875rem;

  --height: 1.5;
  
}


/*
=================
2.  Global Styles
=================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--white-400);
  color:var(--black-100);
  font-weight: var(--weight-400);
  font-family: var(--font-gruppo);
  font-size: var(--size-16);
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 0 10px;
}

nav,
#menu-checkbox {
  display: none;
}


/*
=============
3.  Hamburger
=============
*/

#menu-checkbox:checked ~ nav {
  display: block;
}

nav a {
  display: block;
  padding: 10px 20px;
}

header {
  position: relative;
}

nav {
  position: absolute;
  background: var(--black-100);
  top: 200px;
  right: 0px;
}

.hamburger-icon {
  position: absolute;
  top: 20px;
  right: 20px
}



/*
==============
4.  Typography
==============
*/

.logo-name-1,
.logo-name-2 {
  font-family: var(--font-lucky);
}

.slogan,
nav {
  font-family: var(--font-michroma);
}

.fa-bars,
.logo-name-1 {
  font-size: var(--size-21);
}

.logo-name-1,
.logo-name-2,
.slogan {
  text-align: center;
}


/*
=======
5.  CTA
=======
*/



/*
=========
6.  Color
=========
*/

a,
.logo-name-1,
.logo-name-2,
.slogan,
.fa-bars {
  color: var(--white-100);
}

.active-page {
  color: var(--yellow-700);
}


/*
=========
7.  Forms
=========
*/



/*
==========
8.  Header
==========
*/

header {
  background-color: var(--black-100);
  height: 200px;
}

.logo {
  width: 88px;
  height: 100px;
  margin: 22px 0 3px 0;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrap {
  position: relative;
}

.slogan {
  position: absolute;
  bottom: -17px;
}




/*
==========
9.  Footer
==========
*/

.copy-wrap {
  display: flex;
  align-items: center;
  gap: 7px;
}


/*
=========
10.  Index
=========
*/



/*
===========
11. Explore
===========
*/



/*
=====================
12. Exhibition Spaces
=====================
*/



/*
============
13. Visit Us
============
*/





/*
================
14. Get Involved
================
*/



/*
==============
15. Contact Us
==============
*/



/*
==========
16. @media
==========
*/

@media (min-width: 1100px) {
  nav {
    display: block;
    position: static;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block
  }
}