/*
=================
Table of Contents
=================

1.  Custom Variables
2.  Global Styles
3.  Hamburger
4.  Typography
5.  CTA
6.  Color
7.  Forms
8.  Header
9.  Footer
10.  Index
11. Explore
12. Exhibition Spaces
13. Visit Us
14. Get Involved
15. Contact Us
16. @media

*/


/*
====================
1.  Custom Variables
====================
*/

:root {
  --black-100: #000;
  --white-100: #fff;
  --white-400: #f9f9f9;
  --yellow-100: #fefef5;
  --yellow-400: #fffdd8;
  --yellow-700: #d8d254;
  --purple-500: #804FBF;

  --linear-cta: linear-gradient(180deg, #D8D254 36.98%, #FFF 45.83%, #D8D254 65.10%);

  --font-michroma: 'Michroma', sans-serif;
  --font-gruppo: 'Gruppo', sans-serif;
  --font-lucky: 'Luckiest Guy', cursive;
  --font-russo: 'Russo One', sans-serif;

  --weight-400: 400;

  --size-16: 1rem;
  --size-21: 1.3125rem;
  --size-27: 1.6875rem;

  --height: 1.5;
  
}


/*
=================
2.  Global Styles
=================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--white-400);
  color:var(--black-100);
  font-weight: var(--weight-400);
  font-family: var(--font-gruppo);
  font-size: var(--size-21);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  max-width: 1500px;
  margin: 0 auto;
}

main {
  flex: 1;
  margin: 20px 10px;
}

nav,
#menu-checkbox {
  display: none;
}

.hero-txt,
.prof-wrap,
.night-wrap,
.energetica-wrap,
.museum-ad,
.exhibitions-ad,
.kids-club-ad,
.school-ad,
.museum-ad img {
  border-radius: 15px;
}

.prof-wrap img,
.night-wrap img,
.energetica-wrap img,
.exhibitions-ad img,
.kids-club-ad img,
.school-ad img {
  border-radius: 15px 15px 0px 0px;
}

.prof-wrap section,
.night-wrap section,
.energetica-wrap section,
.exhibitions-ad section,
.kids-club-ad section,
.school-ad section{
  padding: 0 10px 45px 10px;
}

/*
=============
3.  Hamburger
=============
*/

#menu-checkbox:checked ~ nav {
  display: block;
}

nav a {
  display: block;
  padding: 10px 20px;
}

header {
  position: relative;
}

nav {
  position: absolute;
  top: 200px;
  right: 0px;
  z-index: 1000;
}

.hamburger-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}



/*
==============
4.  Typography
==============
*/

.logo-name-1,
.logo-name-2 {
  font-family: var(--font-lucky);
}

.slogan,
nav,
.ftr-link,
h1,
h2,
h3,
.prof-p,
.night-wrap p,
.energetica-wrap section :nth-child(2),
.energetica-wrap section :nth-child(3),
.kids-club-ad p,
.school-ad p {
  font-family: var(--font-michroma);
}

.cta {
  font-family: var(--font-russo);
  text-transform: uppercase;
}

.slogan,
.night-wrap section :nth-child(3),
.cta,
.kids-club-ad p {
  font-size: var(--size-16);
}

.hero-txt h1 {
  font-size: var(--size-21);
}

.fa-brands,
h1 {
  font-size: var(--size-27);
}

.logo-name-1,
.logo-name-2,
.slogan,
.link-wrap,
.socials,
h1,
h2,
.prof-p,
.cta,
.energetica-wrap section :nth-child(2),
.energetica-wrap section :nth-child(3),
.exhibitions-ad section,
.kids-club-ad,
.school-ad ,
.night-wrap section :nth-child(2) {
  text-align: center;
}




/*
=======
5.  CTA
=======
*/

.cta {
  border-radius: 50px;
}

.visit,
.explore,
.learn,
.readmore {
  padding: 8px 16px;
}

.energetica-wrap section div,
.cta-visit-wrap {
  display: flex;
  margin-top: 25px;
}

.cta-visit-wrap {
  flex-direction: column;
  align-items: center;
}

.energetica-wrap section div {
  justify-content: center;
}

.kids-club-ad section div,
.school-ad section div {
  margin-top: 30px;
}



/*
=========
6.  Color
=========
*/

a,
.logo-name-1,
.logo-name-2,
.slogan,
.fa-bars,
.fa-copyright,
.night-wrap h2,
.night-wrap p,
h3,
.kids-club-ad p {
  color: var(--white-100);
}

.active-page {
  color: var(--yellow-700);
}

.cta,
.school-ad h3 {
  color: var(--black-100);
}

header,
footer,
.night-wrap,
.exhibitions-ad,
.kids-club-ad,
nav {
  background: var(--black-100);
}

.hero-txt,
.prof-wrap,
.energetica-wrap,
.school-ad {
  background-color: var(--white-100);
}

.hero-txt,
.prof-wrap,
.night-wrap,
.cta,
.energetica-wrap,
.museum-ad,
.exhibitions-ad,
.kids-club-ad,
.school-ad  {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
p,
a,
.cta {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cta {
  background: var(--linear-cta);
}




/*
=========
7.  Forms
=========
*/



/*
==========
8.  Header
==========
*/

header {
  height: 200px;
}

.logo-2,
.logo {
  width: 88px;
  height: 100px;
  margin: 22px 0 3px 0;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrap {
  position: relative;
}

.slogan {
  position: absolute;
  bottom: -17px;
}

.menu-desktop {
  display: none;
}

/*
==========
9.  Footer
==========
*/

footer {
  height: 300px;
}

.socials,
.link-wrap,
.ftr-logo,
.copy-wrap {
  display: flex;
}

.socials {
justify-content: space-evenly;
margin-top: 10px;
}

.link-wrap {
  flex-direction: column;
  margin-top: 20px;
}

.ftr-logo,
.copy-wrap {
  justify-content: center;
}

.logo-ftr-2,
.logo-ftr {
  width: 88px;
  height: 100px;
  margin: 17px 0 11px 0;
}

.copy-wrap {
  align-items: center;
  gap: 7px;
}

.logo-ftr-2 {
  display: none;
}

/*
=========
10.  Index
=========
*/

.main-container {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  gap: 20px;
}

.hero-txt {
  padding: 45px 10px;
}

.hero-txt h1 {
  margin-bottom: 23px;
}

.hero-txt div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.prof-wrap h2,
.kids-club-ad h3 {
  margin: 35px 0 17px 0;
}

.prof-wrap section :nth-child(2) {
  margin-bottom: 36px;
}

.night-wrap h2,
.energetica-wrap h2 {
  margin-top: 35px;
}

.night-wrap section :nth-child(2),
.energetica-wrap section :nth-child(3) {
  margin-bottom: 17px;
}

.museum-ad {
  position: relative;
  display: flex;
  justify-content: center;
  grid-row: 1 / 2;
}

.museum-ad h3,
.museum-ad div {
  position: absolute;
}

.museum-ad h3 {
  bottom: 20%;
}

.museum-ad div {
  bottom: 10%;
}

.museum-2 {
  display: none;
}

.exhibitions-ad section h3 {
  margin: 39px 0;
}

.exhibitions-ad section {
  margin-bottom: 6px;
}

.exhib-2 {
  display: none;
}

.school-ad p {
  margin-top: 16px;
}

.prof-wrap {
  grid-row: 4 / 5;
}

.exhibitions-ad {
  grid-row: 3 / 4;
}


/*
===========
11. Explore
===========
*/



/*
=====================
12. Exhibition Spaces
=====================
*/



/*
============
13. Visit Us
============
*/





/*
================
14. Get Involved
================
*/



/*
==============
15. Contact Us
==============
*/



/*
==========
16. @media
==========
*/

/* ////////// 600PX \\\\\\\\\\*/
@media (min-width: 601px) {
  /* Global styles */
  .prof-wrap section,
  .night-wrap section,
  .energetica-wrap section,
  .exhibitions-ad section,
  .kids-club-ad section,
  .school-ad section{
    padding: 0 20px 60px 20px;
  }

  .exhibitions-ad img {
    border-radius: 15px 0 0 15px;
  }

  main {
    margin: 20px 20px;
  }

  /* CTA */
  .energetica-wrap section div,
  .cta-visit-wrap {
    display: flex;
    margin-top: 40px;
}

  /* Index */
  .main-container {
    grid-template-rows: repeat(7, min-content);
    grid-template-columns: 1fr 1fr;
  }

  .energetica-wrap,
  .night-wrap,
  .prof-wrap,
  .exhibitions-ad,
  .hero-txt,
  .museum-ad {
    grid-column: 1 / -1;
  }

  .hero-txt {
    padding: 60px 20px;
  }

  .exhib-1,
  .museum-1 {
    display: none;
  }

  .exhib-2,
  .museum-2 {
    display: block;
  }

  .exhibitions-ad {
    display: flex;
  }
  .exhibitions-ad :nth-child(2),
  .exhibitions-ad :nth-child(1) {
    flex: 1;
  }

  .exhibitions-ad section {
    position: relative;
  }

  .exhibitions-ad section h3 {
    position: absolute;
    top: 20%;
  }

  .exhibitions-ad section a {
    position: absolute;
    left: 39%;
    bottom: 20%;
  }

  .prof-wrap h2 {
    margin: 60px 0 17px 0;
  }

  .night-wrap {
    display: flex;
  }

  .night-wrap :nth-child(1),
  .night-wrap :nth-child(2) {
    flex: 1;
  }

  .night-wrap section {
    display: grid;
    grid-template-rows: 1fr min-content 2fr;
    justify-items: center;
  }

  .night-wrap h2 {
    align-self: end;
  }

  .school-ad {
    background-color: var(--black-100);
  }
  .school-ad,
  .school-ad h3 {
    color: var(--white-100);
  }

  .school-ad section {
    padding-top: 100px;
  }

  /* Footer */
  footer {
    background-color: var(--white-400);
  }

  .ftr-link,
  .logo-name-2,
  .fa-copyright,
  .fa-brands {
    color: var(--black-100);
  }

  .logo-ftr {
    display: none;
  }

  .logo-ftr-2 {
    display: block;
  }
}


/* ////////// 1100PX \\\\\\\\\\ */
@media (min-width: 1100px) {
  /* Global styles */  
  main {
    margin: 30px 30px;
  }

  /* Hamburger Menu / Navigation */

  .hamburger-icon {
    display: none;
  }

  /* Header */
  .logo {
    display: none;
  }

  .menu-desktop {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: var(--font-michroma);
    font-size: var(--size-16);
  }

  #active-page-desktop {
    color: var(--yellow-700);
    text-shadow: 0px 20.299999237060547px 4px #D8D254;
  }

  .menu-desktop a:hover {
    transition: 0.3s; 
    color: var(--yellow-400);
    text-shadow: 0px 20px 4px #FFFDD8;
  }

  /* Footer */
  .ftr-link:hover,
  .fa-brands:hover {
    transition: 0.3s;
    color: var(--purple-500);
    text-shadow: 0px 20px 4px rgba(128, 79, 191, 0.50);
  }

  .socials {
    margin: 0 auto;
    max-width: 1100px;
  }



}