/*
=================
Table of Contents
=================

1.  Custom Variables
2.  Global Styles
3.  Hamburger
4.  Typography
5.  Color
6.  Background Image
7.  Padding
8.  Margin
9.  Grid
10. Flex
11. Layout
12. Positioning
13. @media

*/


/*
====================
1.  Custom Variables
====================
*/

:root {
  --black-100: #000;
  --white-100: #fff;
  --white-400: #f9f9f9;
  --yellow-100: #fefef5;
  --yellow-400: #fffdd8;
  --yellow-700: #d8d254;
  --purple-500: #804FBF;

  --linear-cta: linear-gradient(180deg, #D8D254 36.98%, #FFF 45.83%, #D8D254 65.10%);

  --font-michroma: 'Michroma', sans-serif;
  --font-gruppo: 'Gruppo', sans-serif;
  --font-lucky: 'Luckiest Guy', cursive;
  --font-russo: 'Russo One', sans-serif;

  --weight-400: 400;

  --size-16: 1rem;
  --size-21: 1.3125rem;
  --size-27: 1.6875rem;

  --height: 1.5;
  
}


/*
=================
2.  Global Styles
=================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--white-400);
  color:var(--black-100);
  font-weight: var(--weight-400);
  font-family: var(--font-gruppo);
  font-size: var(--size-21);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-container,
.involved-container,
.visit-container,
.explore-container,
.exhib-container,
.main-container {
  max-width: 1500px;
  margin: 0 auto;
}

main {
  flex: 1;
  padding: 20px 10px;
}

.menu-desktop,
.ftr-contact .logo-ftr,
.ftr-involve .logo-ftr-2,
.ftr-visit .logo-ftr,
.ftr-explore .logo-ftr-2,
.ftr-exhib .logo-ftr-2,
.ftr-home .logo-ftr-2,
.school-cta-bl,
.kids-cta-wh,
.exhibition-ad-tablet,
.exhibition-ad-desktop,
.access_shop-wrap_desktop {
  display: none;
}


/*
=============
3.  Hamburger
=============
*/

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

nav a {
  display: block;
  padding: 10px 20px;
}

header {
  position: relative;
}

nav {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 1000;
}

.hamburger-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}



/*
==============
4.  Typography
==============
*/

.logo-name-1,
.logo-name-2 {
  font-family: var(--font-lucky);
}

.slogan,
nav,
.ftr-link,
h1,
h2,
h3,
.prof-p,
.night-wrap p,
.energetica-wrap section :nth-child(2),
.energetica-wrap section :nth-child(3),
.kids-club-ad p,
.school-ad p,
.cosmology-wrap p,
.biology-wrap p,
.ecology-wrap p,
.explore-5-wrap p,
.explore-3-wrap p,
.explore-1-wrap p,
.admission-wrap p,
.accessibility-wrap p,
.shop-wrap p,
.support-wrap p,
.intern-wrap p,
.details-wrap p {
  font-family: var(--font-michroma);
}

.cta {
  font-family: var(--font-russo);
  text-transform: uppercase;
}

::placeholder,
.slogan,
.night-wrap section :nth-child(3),
.cta,
.kids-club-ad p,
.cosmology-wrap p,
.biology-wrap p,
.ecology-wrap p,
.explore-5-wrap p,
.explore-3-wrap p,
.explore-1-wrap p,
.admission-wrap p,
.accessibility-wrap p,
.shop-wrap p,
.support-wrap p,
.intern-wrap p,
.details-wrap p {
  font-size: var(--size-16);
}

label,
.hero-txt h1 {
  font-size: var(--size-21);
}

.contact-wrap a,
.explore-container h2,
.fa-brands,
h1 {
  font-size: var(--size-27);
}


/*
=========
5.  Color
=========
*/

a,
.logo-name-1,
.logo-name-2,
.slogan,
.fa-bars,
.fa-copyright,
.night-wrap h2,
.night-wrap p,
h3,
.kids-club-ad p,
.cosmology-wrap section,
.biology-wrap section,
.ecology-wrap section,
.explore-5-wrap,
.explore-3-wrap,
.explore-1-wrap,
.admission-wrap,
.accessibility-wrap,
.shop-wrap,
.support-wrap,
.intern-wrap,
.details-wrap {
  color: var(--white-100);
}

.intern-wrap a,
.support-wrap a,
.active-page {
  color: var(--yellow-700);
}

.cta,
.school-ad h3,
.ftr-visit .fa-brands,
.ftr-visit .ftr-link,
.ftr-visit .logo-name-2,
.ftr-visit .fa-copyright,
.ftr-contact .fa-brands,
.ftr-contact .ftr-link,
.ftr-contact .fa-copyright,
.ftr-contact .logo-name-2 {
  color: var(--black-100);
}

header,
footer,
nav,
.exhibitions-ad-mobile,
.exhibition-ad-desktop,
.night-wrap,
.kids-club-ad,
.cosmology-wrap,
.biology-wrap,
.ecology-wrap,
.explore-5-wrap,
.explore-3-wrap,
.explore-1-wrap,
.admission-wrap,
.accessibility-wrap,
.shop-wrap,
.support-wrap,
.intern-wrap,
.details-wrap {
  background: var(--black-100);
}

.contact-wrap,
.access_shop-wrap_desktop,
.food-wrap,
.hours-wrap,
.location-wrap,
.explore-6-wrap,
.explore-4-wrap,
.explore-2-wrap,
.robotics-wrap,
.evolution-wrap,
.energetica-wrap,
.prof-wrap,
.hero-txt,
.school-ad {
  background-color: var(--white-100);
}

.ftr-contact,
.ftr-visit {
  background-color: var(--white-400);
}

.contact-1 input,
.contact-2 input,
.contact-3 input,
textarea {
  background: var(--yellow-100);
}


.contact-wrap,
.details-wrap,
.research-wrap,
.intern-wrap,
.volunteer-wrap,
.support-wrap,
.shop-wrap,
.access_shop-wrap_desktop,
.food-wrap,
.accessibility-wrap,
.hours-wrap,
.admission-wrap,
.location-wrap,
.explore-6-wrap,
.explore-5-wrap,
.explore-4-wrap,
.explore-3-wrap,
.explore-2-wrap,
.explore-1-wrap,
.ecology-wrap,
.robotics-wrap,
.biology-wrap,
.evolution-wrap,
.cosmology-wrap,
.kids-club-ad,
.energetica-wrap,
.night-wrap,
.prof-wrap,
.hero-txt,
.museum-ad,
.cta,
.exhibitions-ad-mobile,
.exhibition-ad-tablet,
.exhibition-ad-desktop,
.school-ad {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
p,
a,
.cta {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.cta {
  background: var(--linear-cta);
}

.fa-duotone {
  --fa-primary-color: var(--black-100); 
  --fa-secondary-color: var(--yellow-700); 
  --fa-secondary-opacity: 1;
}

/*
====================
6. Background Image
====================
*/

.museum-ad {
  background-image: url(../Assets/museum-tablet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/*
===========
7. Padding
===========
*/

.exp-6-wrp-p,
.exp-5-wrp-p,
.exp-4-wrp-p,
.exp-3-wrp-p,
.exp-2-wrp-p,
.exp-1-wrp-p,
.contact-wrap,
.details-wrap,
.research-wrap,
.intern-wrap,
.volunteer-wrap,
.support-wrap,
.shop-wrap,
.food-wrap section,
.accessibility-wrap,
.hours-wrap section,
.admission-wrap section,
.location-wrap section,
.ecology-wrap section,
.robotics-wrap section,
.biology-wrap section,
.evolution-wrap section,
.cosmology-wrap section,
.kids-club-ad section,
.energetica-wrap section,
.night-wrap section,
.prof-wrap section,
.exhibitions-ad-mobile section,
.hero-txt,
.school-ad section {
  padding: 0 10px 45px 10px;
}

.contact-1 input,
.contact-2 input,
.contact-3 input {
  padding: 0 15px;
}

.contact-wrap a {
  padding: 5px;
}

.cta-send,
.contact,
.visit,
.explore,
.learn,
.readmore {
  padding: 8px 16px;
}

textarea {
  padding: 15px 15px;
}

.details-wrap {
  padding-top: 40px;
}

header {
  padding-bottom: 30px;
}


/*
==========
8. Margin
==========
*/

.contact-container h1,
.involved-container h1,
.visit-container h1,
.explore-container h1,
.energetica-heading-part-3,
#heading-title {
  margin: 0 0 40px 0;
}

.logo-ftr-2,
.logo-ftr {
  margin: 17px 0 11px 0;
}

.logo-2,
.logo {
  margin: 22px 0 3px 0;
}

.exp-6-wrp-p div,
.exp-4-wrp-p div {
  margin: 30px 0 0 0;
}

.contact-1,
.admission-wrap h2,
.location-wrap h2,
.exp-6-wrp-p,
.exp-5-wrp-p,
.exp-4-wrp-p,
.exp-3-wrp-p,
.exp-2-wrp-p,
.exp-1-wrp-p,
.energetica-wrap h2 {
  margin: 40px 0 0 0;
}

.research-wrap h2,
.intern-wrap h2,
.volunteer-wrap h2,
.support-wrap h2,
.shop-wrap h2,
.access_shop-wrap_desktop h2,
.food-wrap h2,
.accessibility-wrap h2,
.hours-wrap h2,
.ecology-wrap h2,
.robotics-wrap h2,
.biology-wrap h2,
.evolution-wrap h2,
.cosmology-wrap h2,
.prof-wrap h2,
.exhibitions-ad-mobile section h3,
.hero-txt h1,
.kids-club-ad h3 {
  margin: 40px 0 20px 0;
}

.explore-container h2 {
  margin: 80px 0 30px 0;
}

.socials,
.link-wrap,
.school-ad section p,
.prof-wrap section :nth-child(3),
.hours-wrap section > p {
  margin-top: 20px;
}

.volunteer-wrap div,
.energetica-wrap section div,
.cta-visit-wrap {
  margin-top: 25px;
}

.kids-club-ad section div,
.school-ad section div {
  margin-top: 30px;
}

.school-ad h3,
.energetica-wrap h2,
.night-wrap h2 {
  margin-top: 40px;
}

.energetica-wrap section :nth-child(3),
.night-wrap section :nth-child(2) {
  margin-bottom: 20px;
}


/*
========
9. Grid
========
*/

.main-container,
.museum-ad,
.explore-grid-2,
.explore-grid-1,
.exhib-container,
.hours-wrap section div,
.admission-wrap section,
.location-wrap section,
.visit-container,
.involved-container,
.contact-container {
  display: grid;
}

.exhib-container,
.visit-container {
  grid-template-rows: repeat(7, min-content);
}

.main-container {
  grid-template-rows: 120vw repeat(7, min-content);
}

.museum-ad {
  grid-template-rows: 70% 15% 15%;
}

.hours-wrap section div {
  grid-template-columns: 1fr 1fr;
}

.museum-ad {
  grid-row: 1 / 2;
}

.museum-ad h3 {
  grid-row: 2 / 3;
}

.exhibitions-ad-mobile,
.museum-ad div {
  grid-row: 3 / -1;
}


/*
========
10. Flex
========
*/
.hero-txt-wrap,
.energetica-wrap section div,
.cta-visit-wrap,
.contact-wrap,
.contact-1,
.contact-2,
.contact-3,
.contact-4,
textarea,
header div,
.socials,
.link-wrap,
.ftr-logo,
.copy-wrap,
.details-wrap {
  display: flex;
}

.hero-txt-wrap,
.cta-visit-wrap,
.contact-wrap,
.contact-1,
.contact-2,
.contact-3,
.contact-4,
header div,
.link-wrap,
.details-wrap {
  flex-direction: column;
}


/*
==========
11. Layout
==========
*/

.copy-wrap {
  gap: 7px;
}

.hero-txt-wrap,
.contact-wrap,
.main-container,
.explore-grid-2,
.explore-grid-1,
.exhib-container,
.admission-wrap section,
.location-wrap section,
.visit-container,
.involved-container,
.contact-container,
.details-wrap {
  gap: 20px;
}

.cta-send,
.contact-wrap a,
.museum-ad h3 {
  align-self: center;
}

textarea {
  align-items: start;
}

.cta-visit-wrap,
header div,
.copy-wrap,
.hours-wrap section div {
  align-items: center;
}

.energetica-wrap section div,
.ftr-logo,
.copy-wrap {
  justify-content: center;
}

.socials {
  justify-content: space-evenly;
}

.prof-p,
.logo-name-1,
.logo-name-2,
.slogan,
.link-wrap,
.socials,
h1,
h2,
h3,
.cta,
.museum-ad div,
.exhibitions-ad-mobile section,
.exhibition-ad-desktop section,
.night-wrap section :nth-child(2),
.energetica-wrap section :nth-child(2),
.energetica-wrap section :nth-child(3),
.kids-club-ad section div,
.school-ad section,
.exp-6-wrp-p div,
.exp-4-wrp-p div,
.volunteer-wrap div,
.details-wrap,
.fa-backward {
  text-align: center;
}

.contact-1 input,
.contact-2 input,
.contact-3 input {
  height: 50px;
}

.logo-2,
.logo,
.logo-ftr-2,
.logo-ftr {
  width: 88px;
  height: 100px;
}

textarea {
  height: 200px;
}

input,
textarea,
.contact-wrap,
.details-wrap,
.research-wrap,
.intern-wrap,
.volunteer-wrap,
.support-wrap,
.shop-wrap,
.access_shop-wrap_desktop,
.food-wrap,
.accessibility-wrap,
.hours-wrap,
.admission-wrap,
.location-wrap,
.explore-6-wrap,
.explore-5-wrap,
.explore-4-wrap,
.explore-3-wrap,
.explore-2-wrap,
.explore-1-wrap,
.ecology-wrap,
.robotics-wrap,
.biology-wrap,
.evolution-wrap,
.cosmology-wrap,
.energetica-wrap,
.night-wrap,
.prof-wrap,
.museum-ad,
.hero-txt,
.exhibitions-ad-mobile,
.exhibition-ad-desktop,
.kids-club-ad,
.school-ad {
  border-radius: 15px;
}

.exhibition-ad-tablet img {
  border-radius: 15px 0 0 15px;
}

.food-wrap img,
.hours-wrap img,
.admission-wrap img,
.location-wrap img,
.explore-6-wrap img,
.explore-5-wrap img,
.explore-4-wrap img,
.explore-3-wrap img,
.explore-2-wrap img,
.explore-1-wrap img,
.ecology-wrap img,
.robotics-wrap img,
.biology-wrap img,
.evolution-wrap img,
.cosmology-wrap img,
.night-wrap img,
.prof-wrap img,
.exhibitions-ad-mobile img,
.exhibition-ad-desktop img,
.energetica-wrap img,
.kids-club-ad img,
.school-ad img {
  border-radius: 15px 15px 0 0;
}

.cta {
  border-radius: 50px;
}


/*
===============
12. Positioning
===============
*/

.logo-wrap {
  position: relative;
}

.slogan {
  position: absolute;
}

.slogan {
  bottom: -17px;
}


/*
==========
13. @media
==========
*/

/* ////////// 600PX \\\\\\\\\\*/
@media (min-width: 601px) {
  /* Global */
  .school-cta-wh,
  .exhibitions-ad-mobile,
  .ftr-exhib .logo-ftr,
  .ftr-home .logo-ftr {
    display: none;
  }

  .school-cta-bl,
  .exhibition-ad-tablet,
  .ftr-exhib .logo-ftr-2,
  .ftr-home .logo-ftr-2 {
    display: block;
  }


  /* Typography */
  .ecology-wrap p,
  .biology-wrap p,
  .explore-3-wrap p,
  .explore-5-wrap p {
    font-family: var(--font-gruppo);
  }

  .explore-4-wrap p,
  .exhib-container .energetica-wrap p,
  .robotics-wrap p {
    font-family: var(--font-michroma);
    font-size: var(--size-16);
  }

  .explore-5-wrap p,
  .explore-3-wrap p,
  .exhib-container .energetica-wrap .energetica-heading-part-2,
  .exhib-container .energetica-wrap .energetica-heading-part-3,
  .ecology-wrap p,
  .biology-wrap p {
    font-size: var(--size-21);
  }


  /* Colors */
  .ftr-involve .fa-brands,
  .ftr-involve .ftr-link,
  .ftr-involve .fa-copyright,
  .ftr-involve .logo-name-2,
  .ftr-explore .fa-brands,
  .ftr-explore .ftr-link,
  .ftr-explore .fa-copyright,
  .ftr-explore .logo-name-2,
  .exp-4-wrp-p,
  .exhib-container .energetica-wrap section,
  .robotics-wrap section,
  .school-ad section,
  .school-ad h3 {
    color: var(--white-100);
  }

  .exp-5-wrp-p,
  .exp-3-wrp-p,
  .ecology-wrap section,
  .biology-wrap section,
  .ftr-link,
  .logo-name-2,
  .fa-copyright,
  .fa-brands {
    color: var(--black-100);
  }

  .ftr-explore,
  .explore-4-wrap,
  .exhib-container .energetica-wrap,
  .robotics-wrap,
  .exhibition-ad-tablet,
  .school-ad {
    background: var(--black-100);
  }

  .explore-5-wrap,
  .explore-3-wrap,
  .ecology-wrap,
  .biology-wrap {
    background: var(--white-100);
  }

  .ftr-exhib,
  .ftr-home {
    background-color: var(--white-400);
  }


  /* Padding */

  .exp-1-wrp-p,
  .school-ad section {
    padding: 0 20px;
  }

  .exp-2-wrp-p,
  .exp-3-wrp-p,
  .exp-4-wrp-p,
  .exp-5-wrp-p,
  .exp-6-wrp-p,
  .exhibition-ad-tablet section,
  .contact-wrap,
  .support-wrap,
  .volunteer-wrap,
  .intern-wrap,
  .research-wrap,
  .shop-wrap,
  .food-wrap section,
  .accessibility-wrap,
  .admission-wrap section,
  .location-wrap section,
  .ecology-wrap section,
  .robotics-wrap section,
  .biology-wrap section,
  .evolution-wrap section,
  .cosmology-wrap section,
  .kids-club-ad section,
  .energetica-wrap section,
  .night-wrap section,
  .prof-wrap section,
  .hero-txt {
    padding: 0 20px 60px 20px;
  }

  main {
    padding: 20px 20px;
  }

  .details-wrap {
    padding: 60px 20px;
  }


  /* Margin */

  .cta-visit-wrap,
  .exhibition-ad-tablet section a {
    margin-top: 40px;
  }

  /* Grid */

  .night-wrap section,
  .exhibition-ad-tablet section,
  .food-wrap section {
    display: grid;
  }

  .visit-container {
    grid-template-rows: repeat(5, min-content);
  }

  .exhib-container {
    grid-template-rows: repeat(6, min-content);
  }

  .main-container {
    grid-template-rows: 120vw repeat(6, min-content);
  }

  .exhibition-ad-tablet section {
    grid-template-rows: 1fr 1fr;
  }

  .main-container,
  .exhib-container,
  .visit-container,
  .explore-grid-2,
  .explore-grid-1 {
    grid-template-columns: 1fr 1fr;
  }

  .exhibition-ad-tablet,
  .energetica-wrap,
  .night-wrap,
  .prof-wrap,
  .hero-txt,
  .museum-ad,
  .ecology-wrap,
  .robotics-wrap,
  .cosmology-wrap,
  .exhib-container h1,
  .explore-container h2,
  .explore-4-wrap,
  .explore-1-wrap,
  .explore-container h1,
  .food-wrap,
  .admission-wrap,
  .visit-container h1 {
    grid-column: 1 / -1;
  }

  .hours-wrap {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }

  .exhibition-ad-tablet {
    grid-row: 3 / 4;
  }

  .accessibility-wrap {
    grid-row: 5 / -1;
  }


  /* Flex */

  .cta-visit-wrap,
  .night-wrap,
  .night-wrap div,
  .exhibition-ad-tablet,
  .exhibition-ad-tablet div,
  .ecology-wrap section,
  .ecology-wrap,
  .ecology-wrap div,
  .robotics-wrap section,
  .robotics-wrap,
  .robotics-wrap div,
  .explore-1-wrap div,
  .explore-1-wrap,
  .food-wrap div,
  .food-wrap {
    display: flex;
  }

  .night-wrap section,
  .night-wrap div,
  .exhibition-ad-tablet section,
  .exhibition-ad-tablet div,
  .ecology-wrap section,
  .ecology-wrap div,
  .robotics-wrap section,
  .robotics-wrap div,
  .explore-1-wrap div,
  .food-wrap div,
  .food-wrap section {
    flex: 1;
  }

  .ecology-wrap section,
  .robotics-wrap section {
    flex-direction: column;
  }

  .exhibition-ad-tablet {
    flex-direction: row;
  }


  /* Layout */

  .ecology-wrap section {
    gap: 20px;
  }

  .exhibition-ad-tablet section a {
    align-self: start;
  }

  .night-wrap h2,
  .exhibition-ad-tablet section h3,
  .food-wrap h2 {
    align-self: end;
  }

  .exp-1-wrp-p {
    align-items: center;
  }

  .exhibition-ad-tablet section a {
    justify-self: center;
  }

  .robotics-wrap section {
    justify-content: space-around;
  }

  .ecology-wrap section {
    justify-content: center;
  }

  .exhibition-ad-tablet section {
    text-align: center;
  }

  .exhibition-ad-tablet {
    border-radius: 15px;
  }

  .explore-1-wrap img,
  .food-wrap img,
  .ecology-wrap img,
  .robotics-wrap img,
  .night-wrap img {
    border-radius: 15px 0 0 15px;
  }

}


/* ////////// 1100PX \\\\\\\\\\ */
@media (min-width: 1100px) {
  /* Global */

  .hamburger-icon,
  .logo,
  .ftr-contact .logo-ftr-2,
  .ftr-visit .logo-ftr-2,
  .ftr-explore .logo-ftr,
  .ftr-home .logo-ftr-2,
  .school-cta-bl,
  .kids-cta-bl,
  .exhibition-ad-tablet,
  .shop-wrap,
  .accessibility-wrap {
    display: none;
  }

  .menu-desktop,
  .ftr-contact .logo-ftr,
  .ftr-visit .logo-ftr,
  .ftr-explore .logo-ftr-2,
  .ftr-home .logo-ftr,
  .school-cta-wh,
  .kids-cta-wh,
  .exhibition-ad-desktop,
  .robotics-wrap {
    display: block;
  }

  .cosmology-wrap img {
    content: url(/Assets/cosmos-space_desktop.jpg);
  }

  /* Typography */
  .location-wrap p,
  .hours-wrap p,
  .explore-5-wrap p,
  .explore-6-wrap p,
  .explore-2-wrap p,
  .ecology-wrap p,
  .prof-wrap section :nth-child(2),
  .menu-desktop {
    font-family: var(--font-michroma);
    font-size: var(--size-16);
    }

  .details-wrap p,
  .explore-4-wrap p,
  .robotics-wrap p,
  .kids-club-ad p {
    font-family: var(--font-gruppo);
    font-size: var(--size-21);
  }

  /* Colors */
  .ftr-contact .fa-brands,
  .ftr-contact .ftr-link,
  .ftr-contact .logo-name-2,
  .ftr-contact .fa-copyright,
  .ftr-visit .fa-brands,
  .ftr-visit .ftr-link,
  .ftr-visit .fa-copyright,
  .ftr-visit .logo-name-2,
  .explore-5-wrap p,
  .explore-6-wrap p,
  .explore-2-wrap p,
  .fa-brands,
  .ftr-link,
  .fa-copyright,
  .logo-name-2,
  .prof-wrap,
  .ecology-wrap section,
  .location-wrap,
  .hours-wrap {
    color: var(--white-100);
  }

  .details-wrap,
  .ftr-explore .fa-brands,
  .ftr-explore .ftr-link,
  .ftr-explore .fa-copyright,
  .ftr-explore .logo-name-2,
  .explore-4-wrap p,
  .robotics-wrap section,
  .ftr-exhib .fa-brands,
  .ftr-exhib .ftr-link,
  .ftr-exhib .fa-copyright,
  .ftr-exhib .logo-name-2,
  .kids-club-ad p,
  .kids-club-ad h3,
  .school-ad h3,
  .school-ad section {
    color: var(--black-100);
  }

  .support-wrap a:hover,
  .intern-wrap a:hover,
  .ftr-link:hover,
  .fa-brands:hover,
  .menu-desktop a:hover { 
    color: var(--yellow-400);
  }

  #active-page-desktop {
    color: var(--yellow-700);
  }

  .ftr-explore .fa-brands:hover,
  .ftr-explore .ftr-link:hover,
  .ftr-exhib .ftr-link:hover,
  .ftr-exhib .fa-brands:hover {
    color: var(--purple-500);
  } 

  .details-wrap,
  .explore-4-wrap,
  .robotics-wrap,
  .kids-club-ad,
  .school-ad {
    background: var(--white-100);
  }

  .ftr-explore {
    background: var(--white-400);
  }

  .contact-1 input:hover,
  .contact-2 input:hover,
  .contact-3 input:hover,
  textarea:hover {
    background: var(--yellow-400);
  }

  .ftr-contact,
  .ftr-visit,
  .location-wrap,
  .hours-wrap,
  .explore-5-wrap,
  .explore-6-wrap,
  .explore-2-wrap,
  .ftr-home,
  .prof-wrap,
  .ecology-wrap {
    background: var(--black-100);
  }

  .ftr-explore .fa-brands:hover,
  .ftr-explore .ftr-link:hover,
  .ftr-exhib .ftr-link:hover,
  .ftr-exhib .fa-brands:hover {
    text-shadow: 0px 20px 4px var(--purple-500);
  }  

  .cta-white:hover {
    text-shadow: 0px 30px 4px var(--purple-500);
  }

  .ftr-link:hover,
  .fa-brands:hover,
  .menu-desktop a:hover { 
    text-shadow: 0px 20px 4px var(--yellow-400);
  }

  .cta-black:hover {
    text-shadow: 0px 30px 4px var(--yellow-400);
  }

  #active-page-desktop {
    text-shadow: 0px 20.299999237060547px 4px var(--yellow-700);
  }

  .contact-1 input:hover,
  .contact-2 input:hover,
  .contact-3 input:hover,
  textarea:hover,
  .menu-desktop a:hover,
  .ftr-link:hover,
  .fa-brands:hover {
    transition: 0.3s;
  }

  /* Background image */

  .museum-ad {
    background-size: 100%;
    background-position-x: left;
    background-position-y: center;
    height: 800px;
  }

  /* Padding */

  .night-wrap section,
  .exhibition-ad-desktop section {
    padding: 0 20px;
  }

  .access_shop-wrap_desktop,
  .school-ad section {
    padding: 0 20px 60px 20px;
  }

  main {
    padding: 30px 30px;
  }


  /* Margin */

  .socials {
    margin: 20px auto;
  }

  .exhibition-ad-desktop section h3 {
    margin: 40px 0 40px 0;
  }

  .menu-desktop {
    margin-left: 65px;
  }

  /* Grid */

  .exp-6-wrp-p,
  .exp-4-wrp-p,
  .access_shop-wrap_desktop {
    display: grid;
  }

  .visit-container {
    grid-template-rows: repeat(3, min-content);
  }

  .main-container,
  .exhib-container {
    grid-template-rows: repeat(4, min-content);
  }

  .main-container,
  .exhib-container,
  .explore-grid-2,
  .explore-grid-1,
  .visit-container,
  .involved-container,
  .contact-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .involved-container h1,
  .contact-container h1 {
    grid-column: 1 / -1;
  }

  .night-wrap,
  .museum-ad,
  .ecology-wrap,
  .cosmology-wrap,
  .explore-6-wrap,
  .explore-1-wrap,
  .food-wrap,
  .intern-wrap,
  .contact-wrap {
    grid-column: 1 / 3;
  }

  .energetica-wrap,
  .hero-txt,
  .robotics-wrap,
  .explore-4-wrap,
  .volunteer-wrap {
    grid-column: 2 / -1;
  }

  .admission-wrap {
    grid-column: 2 / 3;
  }

  .exhibition-ad-desktop,
  .prof-wrap,
  .exhib-container .energetica-wrap,
  .explore-5-wrap,
  .hours-wrap {
    grid-column: 3 / -1;
  }

  .exhibition-ad-desktop {
    grid-row: 1 / 2;
  }

  .school-ad,
  .explore-6-wrap,
  .explore-1-wrap {
    grid-row: 2 / 3;
  }

  .night-wrap {
    grid-row: 3 / 4;
  }

  .kids-club-ad {
    grid-row: 4 / -1;
  }

  /* Flex */
  .menu-desktop,
  .exp-6-img,
  .explore-6-wrap,
  .exp-4-img,
  .explore-4-wrap {
    display: flex;
  }

  .explore-6-wrap section,
  .explore-4-wrap > div,
  .explore-4-wrap section {
    flex: 1;
  }

  .explore-6-wrap > div {
    flex: 2;
  }

  .menu-desktop {
    flex-direction: row;
  }

  /* Layout */

  .hero-txt-wrap,
  .visit-container,
  .main-container,
  .exhib-container,
  .explore-grid-2,
  .explore-grid-1,
  .involved-container,
  .contact-container {
    gap: 30px;
  }

  .menu-desktop {
    gap: 40px;
  }

  .exp-4-wrp-p p,
  .exp-6-wrp-p p,
  .acs-shp-1 {
    align-self: end;
  }

  .details-wrap {
    justify-content: center;
  }

  .socials {
    max-width: 1100px;
  }

  .explore-6-wrap img,
  .explore-4-wrap img,
  .explore-1-wrap img {
    border-radius: 15px 0 0 15px;
  }

}